#description {
    font-size: x-large;
    font-style: italic;
}

#overlay {
    padding: 18%;
    position: relative;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to left, rgb(209, 207, 87),rgba(0, 11, 14, 0));

}

footer {
    background-color: rgb(12, 12, 14);
    border: none;
    box-sizing: border-box;
    color: goldenrod;
    padding: 20px;
    overflow: hidden;
    height: 60px;
    width: 100%;
}
#layer {
    position: absolute ; /* Sit on top of the page content */
    background-color: rgba(214, 212, 212, 0.5); /* Black background with opacity */
  }